<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <div style="position: relative;background-color: white; width: 1000px; height: 1px;">    

        <div style="position: absolute; bottom: 5px; background-color: white">
        Disclaimer: Plant toxicity info is not accurate. | Created by <a href="https://github.com/carolz19">Carol Zhang</a>
        </div>
    </div>
</body>
</html>